<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Despesas</title>
</head>
<body>
    <h1>Lista de despesas cadastradas</h1>
    <ul>
        {% for d in despesas  %}
        <li>Descrição: {{ d.descricao }} ------ Valor: {{ d.valor }}</li>
        {% endfor %}
    </ul> 
    <p>{{balancete.data_criacao}}</p>   
</body>
</html>